.error-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: 15px;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.form-group {
    position: relative;
}

@media (max-width: 576px) {
    .error-icon {
        right: unset;
        left: calc(100% - 25px);
    }
}

.input-label {
    display: flex;
    align-items: center;
}

.tooltip-icon {
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

.tooltip-text {
    position: absolute;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 999;
    top: -30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-icon:hover .tooltip-text {
    display: block;
}

.container {
    width: 600px;
    height: 600px;
    border: 1px solid black;
}
